<ion-header>
  <!-- <ion-toolbar>
    <ion-title>symptoms</ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="seagreen">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ifp">
      <h1>Symptoms</h1>
      <p style="margin-top: 10px;">Know when you're infected</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <img
          src="../../assets/images/symptoms/breathing difficulty.png"
          style="width: 100px; height: 100px;"
        />
      </ion-col>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Difficulty of breathing</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Coughing</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
      <ion-col class="col">
        <img
          src="../../assets/images/symptoms/coughing.png"
          style="width: 100px; height: 100px;"
        />
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <img
          src="../../assets/images/symptoms/diarrhea.svg"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Diarrhea</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Fever</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
      <ion-col class="col">
        <img
          src="../../assets/images/symptoms/fever.png"
          style="width: 100px; height: 100px;"
        />
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <img
          src="../../assets/images/symptoms/headache.svg"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Headache</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Jhmneckache</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
      <ion-col class="col">
        <img
          src="../../assets/images/symptoms/jhmneckache.png"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <img
          src="../../assets/images/symptoms/no taste.svg"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
      <ion-col class="col">
        <div class="symptoms">
          <h3>No test</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Sore throat</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
      <ion-col class="col">
        <img
          src="../../assets/images/symptoms/sore throat.svg"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
    </ion-row>
  </div>
</ion-content>
