<ion-header>
  <!-- <ion-toolbar>
    <ion-title>app-feedback</ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ifp">
      <h1>Feedback</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="message-box">
    <textarea
      name="Feedback"
      class="feedback"
      placeholder="Enter a suggestion or an error to report..."
    ></textarea>
  </div>
  <div>
    <button class="feedback-button">Send feedback</button>
  </div>
</ion-content>
