.ifp {
  // text-transform: capitalize;
  text-align: center;
  color: white;
  background-color: #3a48ed;
  padding: 30px 0px;
  position: relative;
  left: -20px;
}
ion-back-button {
  color: white;
  background-color: #3a48ed;
}

ion-header {
  box-shadow: none;
}
.feedback-button {
  color: white;
  background-color: #3a48ed;
  height: 40px;
  border-radius: 8px;
  float: right;
  margin-top: 10px;
  margin-right: 12px;
}
.feedback {
  margin-top: 20px;
  margin-left: 10px;
  width: 95%;
  height: 200px;
  padding: 10px;
  box-shadow: 0 0 3px black;
}
