<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Open Source Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>COVIDE is an Open Source Project and was made possible by a huge number of other open source projects. Although we can't thank everybody, here's a list of other open source projects used to create this application.</p>
  <ul>
    <li>JavaScript by ECMA Foundation</li>
    <li>Ionic Framework by Ionic Team</li>
    <li>Angular by Google</li>
    <li>Cordova by Apache</li>
    <li>Capacitor by Ionic Team</li>
    <li>Native Storage Plugin by The Cocoa Project</li>
    <li>Webview Plugin by Ionic Team</li>
    <li>In App Browser by Apache</li>
    <li>TypeScript by Microsoft Corporation</li>
    <li>CoreJS by Denis Pushkarev</li>
    <li>RxJS library by Google</li>
    <li>Zone.JS by Google</li>
  </ul>

</ion-content>
