<div class="stateWiseData">
    <ion-slides>
        <ion-slide>
            <div class="slide">
                <div class="state andhra-pradesh">
                    <div class="overlay">
                        <h2>Andhra Pradesh</h2>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="slide">
                <div class="state arunachal-pradesh">
                    <div class="overlay">
                        <h2>Arunachal Pradesh</h2>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="slide">
                <div class="state assam">
                    <div class="overlay">
                        <h2>Assam</h2>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</div>