<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      World Covid-19 Cases
    </ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="seagreen">
    <div class="ifp">
      <h1 style="text-align: center;">World COVID-19 Cases</h1>
      <p style="margin-top: 10px;">Just if you wanna know...</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->
  
  <div id="World_card" class="WorldData"></div>
</ion-content>
