<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      World Covid-19 Cases
    </ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="blue">
    <div class="ifp">
      <h1 style="text-align: center;">World COVID-19 Cases</h1>
      <p style="margin-top: 10px;">Just if you wanna know...</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="chartData" style="position: relative; height: 40vh; width: 90%; margin-bottom: 50px;">
    <h4 style="font-weight: 400;" id="blueback"></h4>
    <canvas id="world_data"></canvas>
  </div>
  <div id="World_card" class="horizontal-scroll"></div>
</ion-content>
