<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="card-slider">
    <ion-card class="sym-card" color="lightergrey">
      <ion-card-header>
        <ion-card-title>Symtomps of covid-19</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="sym-card" color="lightergrey">
      <ion-card-header>
        <ion-card-title>How to stay safe</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
