<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-refresher
    close-duration
    slot="fixed"
    (ionRefresh)="refreshContent($event)"
  >
    <ion-refresher-content refreshingSpinner="lines"> </ion-refresher-content>
  </ion-refresher>
  <!-- <div class="card-slider">
    <ion-card
      class="sym-card symptoms"
      color="lightergrey"
      (click)="loadPage('symptoms')"
    >
      <div class="overlay">
        <ion-card-header>
          <ion-card-title>Symptoms of COVID-19</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Worried if you have been infected by the virus or not? Do a check for
          symptoms and seek help if needed!
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card
      class="sym-card tips"
      color="lightergrey"
      (click)="loadPage('tips-to-safe')"
    >
      <div class="overlay">
        <ion-card-header>
          <ion-card-title>Tips to Stay Safe</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Wanna know how to stay safe during this pandemic? Just follow some
          simple rules.
        </ion-card-content>
      </div>
    </ion-card>
  </div> -->
  <!-- <div class="last-update">
    Last update:
    <span id="last_update"></span>
  </div> -->
  <div class="spacer-top"></div>
  <div class="cards">
    <div class="grid-layout">
      <div class="grid-item affected">
        <div class="tip">Affected</div>
        <div id="total_affected" class="number"></div>
        <span class="add">+</span>
        <span id="daily_affected" class="num-small"></span>
      </div>
      <div class="grid-item active">
        <div class="tip">Active</div>
        <div id="active_data" class="number"></div>
        <span class="add">+</span>
        <span id="daily_active" class="num-small"></span>
      </div>
      <div class="grid-item recovered">
        <div class="tip">Recovered</div>
        <div id="recovered_data" class="number"></div>
        <span class="add">+</span>
        <span id="daily_recovered" class="num-small"></span>
      </div>
      <div class="grid-item deceased">
        <div class="tip">Deceased</div>
        <div id="deceased_data" class="number"></div>
        <span class="add">+</span>
        <span id="daily_death" class="num-small"></span>
      </div>
    </div>
  </div>
  <h3 class="subtitle">STATE WISE DATA</h3>
  <app-state-data></app-state-data>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <!-- <div class="stateWiseData">
    <ion-slides>
      <ion-slide>
        <div id="statewise_data" class="slide">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title>Andhra pradesh</ion-card-title>
            </ion-card-header>
            <ion-card-content> </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div> -->
</ion-content>
