@import "https://fonts.googleapis.com/css?family=Material+Icons";

ion-content ion-toolbar {
  --background: translucent;
}
.spacer-top {
  padding-top: 30px;
}
.card-slider {
  position: relative;
  overflow: visible;
  margin: 0 auto;
  width: 90%;
  // background: goldenrod;
}
.lil-left {
  margin-left: 5%;
}
.top-mar {
  margin-top: 30px;
}

.blueback {
  color: #080b37;
}

.cards {
  width: 90%;
  margin: 0 auto;
}
.sym-card {
  // padding: 30px 0px;
  margin: 20px 0;
  box-shadow: none;
  border-radius: 8px;
  position: relative;
}
.row-card {
  padding: 0px;
}
.col-card {
  padding: 0px;
}
.cards-details {
  background-color: #fa9da3;
  margin: 15px;
}
.custom-card {
  width: 130px;
  height: 100px;
  margin: 20px;
  background-color: seashell;
  border-radius: 8px;
}
.heading1 {
  padding: 10px;
  color: red;
}
.heading2 {
  padding: 10px;
  color: blue;
}
.heading3 {
  padding: 10px;
  color: green;
}
.heading4 {
  padding: 10px;
  color: blackx;
}
.top-state {
  margin: 10px;
  text-align: center;
}
.slide {
  position: absolute;
  width: 250px;
  height: 300px;
  margin-left: -60px;
  box-shadow: 0px 0px 1px #999;
}
.arrows1 {
  margin-top: 150px;
  margin-left: 30px;
}
.arrows2 {
  margin-top: 150px;
  margin-right: 30px;
  text-align: right;
}
.overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 30px 0px;
}
.symptoms {
  background-image: url(../../assets/images/symptoms.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tips {
  background-image: url(../../assets/images/maskman.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-layout {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
}
.grid-item {
  padding: 15px 20px;
  border-radius: 4px;
}
.affected {
  text-align: center;
  color: #501717;
  // background: linear-gradient(
  //   90deg,
  //   rgba(255, 255, 255, 1) 0%,
  //   rgba(248, 235, 234, 1) 100%
  // );
}
.active {
  text-align: center;
  color: #23308e;
  // background: linear-gradient(
  //   90deg,
  //   rgba(255, 255, 255, 1) 0%,
  //   rgba(234, 243, 248, 1) 100%
  // );
}
.recovered {
  text-align: center;
  color: #238e43;
  // background: linear-gradient(
  //   90deg,
  //   rgba(255, 255, 255, 1) 0%,
  //   rgba(234, 248, 234, 1) 100%
  // );
}
.deceased {
  text-align: center;
  color: #2f2f2f;
  // background: linear-gradient(
  //   90deg,
  //   rgba(255, 255, 255, 1) 0%,
  //   rgba(180, 180, 180, 1) 100%
  // );
}
.tip {
  font-size: 12px;
}
.number {
  font-size: 32px;
  font-weight: 500;
  margin-top: 8px;
}
.subtitle {
  font-size: 16px;
  margin-left: 5%;
  color: rgb(49, 49, 49);
  font-weight: 700;
  margin-top: 30px;
}
.last-update {
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 10px;
  color: rgb(49, 49, 49);
}
.stateWiseData {
  // width: 90%;
  margin: 20px auto 20px auto;
}
// ion-slides {
//     height: 230px;
// }
.state {
  position: relative;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
.overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 30px 0px;
}
.swiper-slide {
  display: block;
}

// .swiper-slide h2 {
//     margin-top: 2.8rem;
// }

.swiper-slide img {
  height: 230px;
  width: 100%;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

.slide {
  text-align: left !important;
}
.updates {
  margin-top: 15px;
  float: right;
  margin-right: 20px;
}
.parent {
  width: 30px;
  height: 30px;
  background: #2033db;
  margin: auto;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}
@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes breathe2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
// .parent:before {
//   content: "";
//   position: absolute;
//   margin-top: -10px;
//   margin-left: -10px;
//   z-index: 2;
//   width: 40px;
//   height: 40px;
//   background: #2033db;
//   opacity: 0.3;
//   border-radius: 100%;
//   animation: breathe2 2s infinite;
// }
.parent > span {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  z-index: 4;
  top: 6px;
  left: 8px;
}
.spacer-top {
  margin-top: 20px;
}

// notification

// body {
//   padding: 5% 0;
//   margin: 0;
//   box-sizing: border-box;
//   width: 100vw;
//   height: 100vh;
//   background: $clr-white-1;
//   background: linear-gradient(30deg, $clr-white-2, $clr-white-1);
//   font-family: "Lato", Arial, sans-serif;
//   font-weight: 500;
//   letter-spacing: 0.05rem;
// }
// // NOTIFICATION CONTAINER

// .notification-container {
//   &:before {
//     // triangle
//     content: "";
//     position: absolute;
//     top: 1px;
//     right: 0;
//     width: 0;
//     height: 0;
//     transform: translate(-1rem, -100%);
//     border-left: 0.75rem solid transparent;
//     border-right: 0.75rem solid transparent;
//     border-bottom: 0.75rem solid white;
//   }
//   cursor: default;
//   position: absolute;
//   z-index: 999;
//   top: 0;
//   right: ($h-gutter * 5);
//   width: 200px;
//   font-weight: 100;
//   background: white;
//   border-radius: 0.5rem;
//   box-sizing: border-box;
//   box-shadow: $container-shadow;
//   h3 {
//     text-transform: uppercase;
//     font-size: 75%;
//     font-weight: 700;
//     color: #84929f;
//     padding: $v-gutter * 2 $h-gutter;
//   }
//   i {
//     color: #b5c4d2;
//     font-size: 140%;
//     @vertical-align (50%);
//     position: absolute;
//     &.right {
//       right: $h-gutter;
//       &:hover {
//         opacity: 0.8;
//         cursor: pointer;
//       }
//     }
//   }
//   animation-name: dropPanel;
//   animation-iteration-count: 1;
//   animation-timing-function: all;
//   animation-duration: 0.75s;
// }

// @keyframes dropPanel {
//   0% {
//     opacity: 0;
//     transform: translateY(-100px) scaleY(0.5);
//   }
// }

.notification {
  color: #3a48ed;
  background-color: white;
  border-radius: 4px;
  padding: 10px 13px 8px 13px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
}

//------------------------------------

// @mixin vertical-align($fifty-percent) {
//   top: $fifty-percent;
//   -webkit-transform: translateY(-$fifty-percent);
//   -ms-transform: translateY(-$fifty-percent);
//   transform: translateY(-$fifty-percent);
// }

// .red {
//   color: #f8b2a6 !important;
// }
// .teal {
//   color: desaturate(lighten($teal, 5%), 5%);
// }
// .gray {
//   color: $gray;
// }
// .gray-bg {
//   background: $gray !important;
// }
// .primary-button {
//   background: $primary-button;
//   border: 2px solid $primary-button;
// }
// .secondary-button {
//   border: 2px solid $secondary-button;
//   background: none;
//   color: $secondary-button;
// }

// .left {
//   margin-right: $v-gutter;
//   float: left;
// }
// .right {
//   margin-left: $v-gutter;
//   float: right;
// }
// spacer {
//   width: 100%;
// }

// button {
//   float: right;
//   border-radius: 3px;
//   cursor: pointer;
//   display: inline-block;
//   font-weight: normal;
//   padding: 8px 12px;
//   border: 0;
//   font-size: 13px;
//   line-height: 13px;
//   color: white;
//   background: #b2b9c5;
//   &:hover {
//     opacity: 0.9;
//   }
// }

// .notification-icon {
//   position: relative;
//   margin-right: 1em;
//   border-radius: 5px;
//   background: $clr-white-1;
//   i {
//     margin: 0.5rem;
//   }
//   &:nth-of-type(1) {
//     i {
//       background: -webkit-linear-gradient(300deg, #acccea, #6495ed);
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//     }
//   }
//   &:nth-of-type(2) i {
//     background: -webkit-linear-gradient(300deg, #fff9ab, #00b8ff);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }
// }

.scroller {
  width: 90%;
  margin: 0 auto;
}

.horizontal-scroll {
  padding: 5%;
  overflow: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
}
.cardUI {
  display: inline-block;
  padding: 15px;
  background-color: #fff;
  border-radius: 12px;
  width: 85%;
  margin: 0px 10px 0px 0px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.06);
}
.card_grid {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
}
.avatar {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.chartData {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
}

.dummy_text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  p {
    color: #ffffff;
  }
}

.headerArea {
  background-color: #3a48ed;
  padding: 3vh 5% 9vh 5%;
}

.dataArea {
  background-color: #fff;
  padding-top: 50px;
  border-radius: 48px 48px 0px 0px;
  position: relative;
  top: -50px;
}

#history_data {
  background-color: #fff;
}
