<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ifp">
      <h1>Travel History</h1>
      <p style="margin-top: 10px;">Who travelled, and when?</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="travel_history">
    <!-- <ion-item>
      <ion-label>
        <h1>Recovered</h1>
        <p>Student from Wuhan | Travelled from Wuhan</p>
        <p>Age Bracket: 22</p>
      </ion-label>
      <ion-label slot="end">
        <h2>
          <ion-icon name="location-outline"></ion-icon> Thrissur, Kerala
        </h2>
      </ion-label>
    </ion-item> -->
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loading-spinner="lines"
      loading-text="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
