<ion-content>
  <div class="titleContainer">
    <h1 class="title">COVIDE License Agreement</h1>
  </div>
  <div class="paddedContent">
    <!-- <h5>The Application</h5> -->
    <p>"COVIDE" (pronounced as Co-Wide), here forward referred as "app" is an application built for providing live status of current COVID-19 Coronavirus scenario. The app also provides additional data about current patients of COVID-19 and travel information happening within the country. This app can also be used to find shelter and food during the need of necessity.</p>
    <p>The app is fully open source and can be modified as per requirement. The source code for the application is available on github.</p>
  </div>
</ion-content>
