.paddedContent {
  padding: 0px 20px;
  max-height: 80vh;
  overflow: scroll;
  background-color: #ecf4f3;
}
.paddedContent > h5 {
  color: #4aa98f;
}
.paddedContent > p {
  color: #1a463c;
}
.titleContainer {
  padding: 20px 20px;
  background-color: #ecf4f3;
}
.title {
  text-align: center;
  color: #307466;
  font-size: 1.3em;
  font-weight: 700;
}
