<ion-content>
  <div style="background-color: #ECF4F3; height: 100vh;">
    <div class="titleContainer">
      <h1 class="title">COVIDE License Agreement</h1>
    </div>
    <div class="paddedContent">
      <!-- <h5>The Application</h5> -->
      <p>"COVIDE" (pronounced as Co-Wide), here forward referred as "app" is an application built for providing live
        status of current COVID-19 Coronavirus scenario. The app also provides additional data about current patients of
        COVID-19 and travel information happening within the country. This app can also be used to find shelter and food
        during the need of necessity.</p>
      <p>The app is fully open source and can be modified as per requirement. The source code for the application is
        available on <span style="text-decoration: underline;">Github <strong><em>@luciferreeves</em></strong></span>.
        Additionally, no personal data is collected by this app.</p>
      <p>The app comes on an "AS IS" basis and no guarantee or warranty is applicable to any part or data displayed in
        the app. The app, although completely harmless, is intended to be installed on a self-risk basis and the
        developers aren't and won't be responsible in any manner and could not be summoned under any authority. All the
        data that is shown in this app is publicly available data and the developers aren't responsible for any kind of
        data mismatch or invalid data shown in the app. Any data discrepancy, could however be reported from the app
        itself. The reporting is completely anonymous and do personal data is collected, otherwise.</p>
      <p>By using this app, you abide by the above terms and conditions. If you wish to make any sugegstions you can do
        so within the app itself. Also, if you do want to make this app better you're always welcome to contribute to
        this app on <span style="text-decoration: underline;">Github <strong><em>@luciferreeves</em></strong></span>.
      </p>
      <p>This app was made possible by a lot of open source libraries and projects. You can find the informtion about
        them in the About section of the app.</p>
    </div>
    <div class="agree">
      <ion-button (click)="acceptEULA()" color="lightgreen" class="button_eula ion-activatable ripple-parent" mode="ios">Agree and Continue<ion-ripple-effect type="unbounded"></ion-ripple-effect></ion-button>
    </div>
  </div>
</ion-content>