<ion-header color="blue">
  <ion-toolbar color="blue">
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list text-wrap>
    <div *ngIf="updates">
      <div *ngFor="let item of updates.slice().reverse()">
        <ion-item text-wrap>
          <ion-label text-wrap for="size_1">
            <h2>{{ item.date }}</h2>
            <p>{{ item.update }}</p>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
