<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About COVIDE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="padded">
    <img src="../../assets/images/CovidIcon.png" alt="COVIDE ICON" class="centered">
    <h2>COVIDE</h2>
    <h5>v0.1.0</h5>
    <p>Developed by <em><strong>Lucifer Conrad Reeves</strong></em> and <em><strong>Rohit Singh</strong></em> for humans.</p>
    <p>App Icon (Called "Stay away from him 🙏") by <em><strong>Gustavo Zambelli</strong></em>.</p>
    <p>App Design Inspiration and Color Layout by <em><strong>Nazirul Hoque 🏆</strong></em>.</p>
  </div>

</ion-content>
