<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ifp">
      <h1>About COVIDE</h1>
      <p style="margin-top: 10px;">Who made it possible?</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padded">
    <img
      src="../../assets/images/CovidIcon.png"
      alt="COVIDE ICON"
      class="centered"
    />
    <h2>COVIDE</h2>
    <h5>v0.3.0</h5>
    <p>
      Developed by <em><strong>Lucifer Conrad Reeves</strong></em> and
      <em><strong>Rohit Singh</strong></em> for humans.
    </p>
    <p>
      App Icon (Called "Stay away from him 🙏") by
      <em><strong>Gustavo Zambelli</strong></em
      >.
    </p>
    <p>
      App Design Inspiration and Color Layout by
      <em><strong>Nazirul Hoque 🏆</strong></em
      >.
    </p>
    <p>
      App Splash Screen Illustration by <em><strong>FireArt Studio</strong></em
      >.
    </p>
    <img
      src="../../assets/images/tocp.png"
      alt="COVIDE ICON"
      class="centered-small"
    />
    <p>
      <strong><em>THE ORANGE COFFEE PROJECT</em></strong>
    </p>
  </div>
</ion-content>
