/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-lightgreen: #4aa98f;
    --ion-color-lightgreen-rgb: 74, 169, 143;
    --ion-color-lightgreen-contrast: #ffffff;
    --ion-color-lightgreen-contrast-rgb: 0, 0, 0;
    --ion-color-lightgreen-shade: #41957e;
    --ion-color-lightgreen-tint: #5cb29a;
    --ion-color-lightergrey: #ecf4f3;
    --ion-color-lightergrey-rgb: 236, 244, 243;
    --ion-color-lightergrey-contrast: #307466;
    --ion-color-lightergrey-contrast-rgb: 0, 0, 0;
    --ion-color-lightergrey-shade: #d0d7d6;
    --ion-color-lightergrey-tint: #eef5f4;
    --ion-color-seagreen: #3a8a7b;
    --ion-color-seagreen-rgb: 58, 138, 123;
    --ion-color-seagreen-contrast: #ffffff;
    --ion-color-seagreen-contrast-rgb: 255, 255, 255;
    --ion-color-seagreen-shade: #33796c;
    --ion-color-seagreen-tint: #4e9688;
}

.ion-color-lightergrey {
    --ion-color-base: var(--ion-color-lightergrey);
    --ion-color-base-rgb: var(--ion-color-lightergrey-rgb);
    --ion-color-contrast: var(--ion-color-lightergrey-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lightergrey-contrast-rgb);
    --ion-color-shade: var(--ion-color-lightergrey-shade);
    --ion-color-tint: var(--ion-color-lightergrey-tint);
}

.ion-color-lightgreen {
    --ion-color-base: var(--ion-color-lightgreen);
    --ion-color-base-rgb: var(--ion-color-lightgreen-rgb);
    --ion-color-contrast: var(--ion-color-lightgreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lightgreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-lightgreen-shade);
    --ion-color-tint: var(--ion-color-lightgreen-tint);
}

.ion-color-seagreen {
    --ion-color-base: var(--ion-color-seagreen);
    --ion-color-base-rgb: var(--ion-color-seagreen-rgb);
    --ion-color-contrast: var(--ion-color-seagreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-seagreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-seagreen-shade);
    --ion-color-tint: var(--ion-color-seagreen-tint);
}

:root {
    --ion-color-blue: #3a48ed;
    --ion-color-blue-rgb: 58, 72, 237;
    --ion-color-blue-contrast: #ffffff;
    --ion-color-blue-contrast-rgb: 255, 255, 255;
    --ion-color-blue-shade: #333fd1;
    --ion-color-blue-tint: #4e5aef;
}

.ion-color-blue {
    --ion-color-base: var(--ion-color-blue);
    --ion-color-base-rgb: var(--ion-color-blue-rgb);
    --ion-color-contrast: var(--ion-color-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-blue-shade);
    --ion-color-tint: var(--ion-color-blue-tint);
}

:root {
    --ion-color-blue-background: #f4f4fa;
    --ion-color-blue-background-rgb: 244, 244, 250;
    --ion-color-blue-background-contrast: #000000;
    --ion-color-blue-background-contrast-rgb: 0, 0, 0;
    --ion-color-blue-background-shade: #d7d7dc;
    --ion-color-blue-background-tint: #f5f5fb;
}

.ion-color-blue-background {
    --ion-color-base: var(--ion-color-blue-background);
    --ion-color-base-rgb: var(--ion-color-blue-background-rgb);
    --ion-color-contrast: var(--ion-color-blue-background-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blue-background-contrast-rgb);
    --ion-color-shade: var(--ion-color-blue-background-shade);
    --ion-color-tint: var(--ion-color-blue-background-tint);
}
