ion-content {
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 20px;
  --padding-top: 20px;
}

.smallcaps {
  font-size: 14px;
  font-weight: bold;
}

.legal {
  font-weight: 400;
  font-size: 14px;
  color: rgb(80, 80, 80);
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  color: #999;
}
