<ion-header>
  <!-- <ion-toolbar>
    <ion-title>tips-to-safe</ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ifp">
      <h1>Tips for you're safty</h1>
      <p style="margin-top: 10px;">Know how to be safe</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <img
          src="../../assets/images/protect_yourself/coughing hand.png"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Avoid touching your face</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Disinfect everything</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
      <ion-col class="col">
        <img
          src="../../assets/images/protect_yourself/disinfect.png"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <img
          src="../../assets/images/protect_yourself/distance.png"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Maintain distance</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Use face mask</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
      <ion-col class="col">
        <img
          src="../../assets/images/protect_yourself/face mask cropped.jpg"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <img
          src="../../assets/images/protect_yourself/handwashing.png"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Consistent handwashing</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Be at home as much as possible</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
      <ion-col class="col">
        <img
          src="../../assets/images/protect_yourself/sleeping at home.png"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
    </ion-row>
  </div>
  <div class="toolbar">
    <ion-row>
      <ion-col class="col">
        <img
          src="../../assets/images/protect_yourself/sneezing tissue.png"
          style="width: 100px; height: 100px; border-radius: 50%;"
        />
      </ion-col>
      <ion-col class="col">
        <div class="symptoms">
          <h3>Cover your face while sneezing</h3>
          <p style="margin-top: 10px; font-size: 14px;"></p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
